<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207755062367-b9r822nb8dn44ufs7f2sjph9ekraomb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207755062367-b9r822nb8dn44ufs7f2sjph9ekraomb9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207755062367-2rjpgkcnihbnrq3u5rjsqpd642tt79gb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzlC7XSSjOAewBp_jh3XmUeukgGm_PJ-w</string>
	<key>GCM_SENDER_ID</key>
	<string>207755062367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellness.customer</string>
	<key>PROJECT_ID</key>
	<string>health-and-wellness-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>health-and-wellness-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207755062367:ios:9052d322039007b7b97fea</string>
</dict>
</plist>